// CORE
@import "bootstrap/scss/bootstrap-grid.scss";
@import "./core/overwrite";
@import "./core/variables";
@import "./core/font";
@import "./core/overwrite";

// COMPONENTS
@import "./components/global/header";
@import "./components/global/button"; 
@import "./components/global/hero"; 
@import "./components/global/footer"; 
@import "./components/talent/candidatecard";
@import "./components/faq/accordion";

//PAGES
@import "./pages/home";
@import "./pages/faq";
