.hubs {
    text-align: center;
    margin-bottom: 87px;

    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    /* identical to box height */


    /* Secondary Color */

    color: #1F1F1F;
}

.partner-two-aimtoget {
    position: absolute;
    width: 102px;
    height: 102px;
    left: 360px;
    top: 3984px;

}

.partner-two-bongohive {
    width: 98px;
    height: 98px;
}

.partner-two-seventwenty {
    width: 120px;
    height: 45px;
    margin-top: 25px;
}

.partner-two-impacthub {
    position: absolute;
    width: 96px;
    height: 96px;
    left: 1067px;
    top: 3990px;
}

.partner-two {
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 70px;
    // margin-bottom: 10px;
}


.partner-three {
    padding-left: 200px;
    padding-right: 200px;
    margin-bottom: 100px;
    margin-top: 70px;
}


.sponsors {
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100px;
    margin-top: 70px;
}

.sponsors_text {
    text-align: center;
    margin-bottom: 100px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #1F1F1F;
}

.sponsors-one-revin {
    position: absolute;
    width: 220.87px;
    height: 36px;
    left: 302px;
    top: 4639px;
}

.sponsors-one-kuda {
    position: absolute;
    width: 159.61px;
    height: 110px;
    left: 636.87px;
    top: 4602px;

}

.sponsors-one-gofundme {
    position: absolute;
    width: 159.61px;
    height: 110px;
    left: 636.87px;
    top: 4602px;

}

.sponsor-two-piss {
    position: absolute;
    width: 93px;
    height: 93px;
    left: 365px;
    top: 4741px;

}

.sponsor-two-isam {
    position: absolute;
    width: 109.8px;
    height: 71px;
    left: 659px;
    top: 4752px;
}

.sponsor-two-eden {
    position: absolute;
    width: 113px;
    height: 113px;
    left: 956px;
    top: 4721px;
}



