.desc{
    color: $primaryColor;
    font-weight: 500;
}

.col-12{
    width: 100%;
    height: auto;
    display: block;
}

.col-sm-7{
    width: 58.33;
    height: auto;
}

.col-sm-5{
    width: 41.66%;
    height: auto;
}