.gallery{
    &__desc{
        color: $primaryColor;
        font-weight: 500;
    }
    &__page-desc{
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        text-align: center;
    }
}



