.gallery{
    padding-bottom: 65px;
    &__desc{
        color: $primaryColor;
        font-size: 18px;
        margin-bottom: 50px;
        padding-left: 15px;
        margin-top: 5px;
    }
    &__page-desc{
        margin-top: 75px;
        font-size: 24px;
        text-align: center;
        line-height: 129.2%;
    }
    &__img{
        height: 361px;
        color: #c1c1c1;
    }
}



