<<<<<<< HEAD
.desc {
  color: $primaryColor;
  font-weight: 500;
}

.page-desc {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  text-align: center;
}
=======
.gallery{
    padding-bottom: 65px;
    &__desc{
        color: $primaryColor;
        font-size: 18px;
        margin-bottom: 50px;
        padding-left: 15px;
        margin-top: 5px;
    }
    &__page-desc{
        margin-top: 75px;
        font-size: 24px;
        text-align: center;
        line-height: 129.2%;
    }
    &__img{
        height: 361px;
        color: #c1c1c1;
        object-fit: cover;
    }
}



>>>>>>> fc43e2b7f8395c3cb0f29eb83547d0d811bc285c
