.wrapper {
  min-height: 100vh;
  margin-bottom: 3rem;
}

.footer {
  background: $secondaryColor;
  color: $white;
  width: 100%;
  height: 444px;

  &__wrapper {
    width: 60%;
    margin: 0 auto;
    @extend %gridCenter;
    height: 100%;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    .footer__header {
      color: $primaryColor;
      font-weight: 700;
      line-height: 2;
    }
    .footer__text {
      line-height: 1.4;
      font-size: 14px;
    }
  }

  form {
    width: 100%;
    @extend %gridCenter;
    .inputs {
      display: flex;
      @include media-breakpoint-down(sm) {
        flex-direction: column;
      }
      input {
        padding: 1rem 3rem;
        border: none;
        background: #484848;
        font-size: 0.8rem;
        color: $white;
        outline: none;
        border-radius: 5px 0px 0px 5px;

        &:focus-within {
          outline: none;
        }
      }

      button {
        border-radius: 0px 5px 5px 0px;
        font-weight: 700;
        font-size: 0.8rem;
        color: $white;
        height: 60px;
        margin-left: -1px;
      }
    }
  }

  &__links {
    width: 100%;

    .links {
      display: flex;
      align-items: center;
      justify-content: center;

      .link {
        padding: 0 1rem;
        font-size: 0.8rem;
        list-style: none;

        a {
          color: $white;
          text-decoration: none;
          transition: color 0.3s ease;

          &:hover {
            color: $primaryColor;
          }
        }
      }
    }
  }

  .icon {
    display: inline-block;
    padding: 0 1rem;
    svg {
      margin: 0 1rem;
      fill: $white;
      transition: all 0.3s ease;
    }
  }
}

@include media-breakpoint-down(xs) {
  .footer {
    overflow: hidden;
  }
  .footer__wrapper {
    width: 100%;
  }
  .form__btn {
    display: block;
    margin-top: 0.7rem;
    border-radius: 5px !important;
    padding: 0.8rem 2.5rem;
    width: 100%;
  }
  .form__input {
    border-radius: 5px !important;
  }

  .links {
    text-align: center;
  }
}
