nav {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
  background: $white;
  color: $secondaryColor;

  .header-content {
    background: $white;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
    color: $secondaryColor;
    &__image {
      width: 232px;
      height: 71.23px;
    }
  }

  .nav-links {

    li {
      padding: 10px;
      font-size: 1em;
    }

    &__content {
      display: flex;
      align-items: center;
      justify-content: space-around;
      list-style-type: none;
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    &__hamburger {
      width: 50px;
      display: none;
      @include media-breakpoint-down(sm) {
        display: block;
      }
    }
    // mobile links to display on mobile screen
    &__mobile {
      align-items: center;
      width: 90%;
      justify-content: space-between;
      line-height: 2.5em;
      list-style-type: none;
      padding-bottom: 1em;
      background: #e5e5e5;
      position: absolute;
      top: 150px;
      z-index: -1;
      display: none;

      @include media-breakpoint-down(sm) {
        display: block;
      }
    }
  }
}
