nav {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
  background: $white;
  color: $secondaryColor;

  li {
    cursor: pointer;

    &:hover {
      color: $primaryColor;
    }
  }

  button {
    &:focus {
      outline: 0;
    }
  }

  .header-content {
    background: $white;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
    color: $secondaryColor;
    &__image {
      width: 222px;
      height: 68.23px;

      @include media-breakpoint-down(sm) {
        width: 140px;
        height: 40px;
      }
    }
  }

  .nav-links-desktop {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;

    li {
      padding: 10px;
      font-size: 1em;
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}

.mobile-nav-toggle {
  display: none;
  z-index: 1;

  img {
    transition: all 0.2s ease;
  }

  &__open {
    width: 35px;
    height: 35px;
  }

  &__close {
    width: 30px;
    height: 30px;
  }

  @include media-breakpoint-down(sm) {
    display: block;
  }
}

.mobile-nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  transform: translate3d(-100vw, 0, 0);

  &--visible {
    display: block;
  }

  &__links {
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 60px 10px;
    background: $secondaryColor;
    color: white;

    li {
      font-size: 2rem;
      padding: 15px 20px;
      font-weight: 500;

      button {
        font-weight: 500;
      }
    }
  }

  @include media-breakpoint-up(md) {
    display: none;
  }
}

/* ----------------------------------------------
* Generated by Animista on 2020-9-30 17:6:49
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

.slide-in-left {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-out-left {
  -webkit-animation: slide-out-left 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: slide-out-left 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

/* animation slide-in-left */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

/* animation slide-out-left */
@-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}

@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}
