body,html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    height: 100%;
}

a{
    display: inline-block;
}
.wrapper{
    min-height: 100vh;
    margin-bottom: 3rem;
}

.footer{
    background: $secondaryColor;
    color: #fff;
width: 100%;
height: 444px;

   &__wrapper{
        width: 60%;
        margin: 0 auto;
        @extend %gridCenter;
        height: 100%;
    }


    &__content{
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        text-align: center;
        .footer__header{
            color: $primaryColor;
            font-weight: 700;
            line-height: 2;
        }
        .footer__text{
            line-height: 1.4;
            font-size: 14px;
        }
    }

    form{
        width: 100%;
        @extend %gridCenter;
    .inputs{
        
        input{
            padding:1rem 3rem;
            border:none;
            background: #484848;
            font-size: 0.8rem;
            color: #fff;
            outline: none;
            border-radius: 5px 0px 0px 5px;

            &:focus-within{
                outline: none;
            }
            ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: #fff;
              }
              ::-moz-placeholder { /* Firefox 19+ */
                color:#fff;
              }
              :-ms-input-placeholder { /* IE 10+ */
                color:#fff;
              }
              :-moz-placeholder { /* Firefox 18- */
                color:#fff;
              }
        
        }
        button{
           font-weight: 700;
           font-size: 0.8rem;
           color: #fff;
           padding: 1rem 2.5rem;
           margin-left: -1px;
           background: $primaryColor;
           border: none;
           border-radius: 0px 5px 5px 0px;
           cursor: pointer;
           transition: all .3s ease;

           &:hover{
               border: 1px solid $primaryColor;
               color: $primaryColor;
               background: #fff;
           }
        }
        }
    }

    &__links{
        width: 100%;

        .links{
            display: flex;
            align-items: center;
            justify-content: center;

            .link{
                padding: 0 1rem;
                font-size: 0.8rem;
                list-style: none;

                a{
                    color: #fff;
                    text-decoration: none;
                    transition:color .3s ease;

                    &:hover{
                        color: $primaryColor;
                    }
                }
            }
        }
    }

    .icon{
        display: inline-block;
        padding: 0 1rem;
        svg{
            margin: 0 1rem;
            fill: #fff;
            transition: all .3s ease;
        }
       }
}


@media (max-width:660px){

    .footer{
        overflow: hidden;
    }
    .footer__wrapper{
        width: 100%;
    }
.form__btn{
    display: block;
    margin-top: .7rem;
    border-radius: 5px !important;
    padding: .8rem 2.5rem;
    width: 100%;
}
.form__input{
    border-radius: 5px !important;
}
}

