$primaryColor: #05b993;
$secondaryColor: #1f1f1f;
<<<<<<< HEAD
$white: #ffffff;
=======
$white: #ffffff;


%gridCenter{
    display: grid;
    place-items: center;
}
>>>>>>> 9badb7ed9d15b987d4bc2150e1cbbd2bc44e1154
